*{font-size: 14px;}
html,body{margin: 0px;padding:0px;width: 100%;}
.content{
    padding:4% 1%;
    display:block;
    text-align: center;
}
.tbodytr:hover{
    color:red;
    cursor: pointer;
}
.queryMes{
    margin-left: 1.5%;
    font-size: 14px;
    color: red;
}
.queryInput{
    margin-right: 1.5%;
    padding-left: 5px;
    padding-right: 5px;
    height:20px;
    width: auto;
    border-radius: 3px;
    border:1px solid #ececec;
}
.queryBtn{
    height:24px;
    background-color: lightgray;
    border-radius: 3px;
    border:0;
}
.queryInfo{
    margin-top:1.5%;
    color:orange;
}
.tableDiv{
    width: 60%;
    padding: 0;
    display:block;
    text-align: center;
}
.table{width:100%;}

.theadtr{width:100%;}

.tbodytr{width:100%;}

.thname{
    width: 25%;
    text-align: center;
}
.thdes{
    width: 25%;
    text-align: center;
}
.thop{
    width: 25%;
    text-align: center;
}
.thnp{
    width: 25%;
    text-align: center;
}

.tdname{
    padding-left: 4%;
    width: 25%;
    text-align: left;
}
.tddes{
    padding-left: 4%;
    width: 25%;
    text-align: left;
}
.tdopriz{
    width: 25%;
    text-align: center;
}
.tdnpriz{
    width: 25%;
    text-align: center;
}
