*{font-size: 18px;}
html,body{margin: 0px;padding:0px;width: 100%;}
.content{
    padding:40px 10px;
    display:block;
    text-align: center;
}
.tbodytr:hover{
    color:red;
    cursor: pointer;
}
.queryMes{
    margin-left: 15px;
    font-size: 16px;
    color: red;
}
.queryInput{
    margin-right: 15px;
    height:35px;
    width: 20%;
    border-radius: 10px;
}
.queryBtn{
    height:35px;
    background-color: lightgray;
    border-radius: 5px;
}
.queryInfo{
    margin-top:15px;
    color:orange;
}
.tableDiv{
    width: 60%;
    padding: 0 20%;
    display:block;
    text-align: center;
}
.table{width:100%;}

.theadtr{width:100%;}

.tbodytr{width:100%;}

.thname{
    width: 25%;
    text-align: center;
}
.thdes{
    width: 35%;
    text-align: center;
}
.thop{
    width: 20%;
    text-align: center;
}
.thnp{
    width: 20%;
    text-align: center;
}

.tdname{
    padding-left: 40px;
    width: 25%;
    text-align: left;
}
.tddes{
    padding-left: 40px;
    width: 35%;
    text-align: left;
}
.tdopriz{
    width: 20%;
    text-align: center;
}
.tdnpriz{
    width: 20%;
    text-align: center;
}